<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {#<link rel="stylesheet" href="{{asset('assets/css/adam.otf')}}">#}
    <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}">


<style type="text/css">
    @font-face {
        font-family: 'Adam';
        src:    url({{asset('assets/css/adam.otf')}}) format('opentype');
    }
</style>


</head>
<body>
<header class="header">
    <div class="top">
        <img src="{{ asset('assets/img/logo_1000.png') }}" alt="" class="logo">
        <div class="links">
            <a href="{{ path ('home') }}"> HOME</a>
            <a href="{{ path ('articles') }}"> ARTICLES</a>
            {#<a href="{{ path ('focus') }}"> FOCUS</a>#}
        </div>
    </div>
    <hr class="hr">
</header>
<main>
<div class="article_solo">
        <div class="cadre-gd">
            <p class="article_title">{{ articles.title }}</p>
            <div  class="image"><img src="{{ articles.image }}" alt=""></div>
            <p class="content">{{ articles.content }}</p>
        </div>
</div>
</main>

<footer class="foot">
    <div class="footText">
        <p> Qui sommes-nous?</p>
        <p> Conditions</p>
        <img src="{{ asset('assets/img/logo_1000.png') }}" alt="" class="logoFoot">
        <p> FAQ</p>
        <p> Contact</p>
    </div>
</footer>
</body>
</html>





